<table heigth="300" width="80%" align="center" style="margin-top: 20px; border: 1px solid #7aa37a;
  border-radius: 3px; padding: 5px 25px 45px">
  <tbody style="color: #7c7b7b;">
    <tr>
      <td style="text-align: center;">
        <h2 style="color: #4c664c; text-align: center;
  font-family: 'Pacifico'; margin-top: 30px;">
          Olá, {{ organizer }}</h2>
        <p style=" text-align: left; font-size: 18px; font-family: arial; padding: 0 32px;">
          Foi feita uma inscrição no seu meetup, confira os detalhes abaixo:
          <br/><br/>
          <strong style="color: #4c664c">Meetup:</strong> {{ meetup }}
          <br/><br/><strong style="color: #4c664c">Data:</strong> {{ date }}
          <br/><br/><strong style="color: #4c664c">Participante:</strong>  {{ participant }}
          <br/><br/><strong style="color: #4c664c">E-mail de contato:</strong>  {{ contact }}
          <br/><br/>
          Não se esqueça de enviar uma mensagem de boas vindas agradecendo a inscrição do novo participante.
          <br/><br/>
          Atenciosamente,
        </p>
      </td>
    </tr>
  </tbody>
</table>
